.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  min-height: 750px;
}

.media-links {
  position: absolute;
  right: 0.5rem;
  top: 10rem;
}

.media-links ul li {
  margin: 0.5rem 0;
}

.media-links ul li a {
  color: #808dad;
}

.sidebar-link-icon {
  font-size: 1.4rem;
}

.media-links ul li a:hover {
  color: #dba858;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.text-content {
  margin-bottom: 3rem;
  width: 100%;
  margin-left: 3rem;
}

.intro {
  font-size: 2.2rem;
  color: #f5f3f3;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
  line-height: 1;
  width: 70%;
  text-transform: uppercase;
}

.profession-area .profession {
  color: #808dad;
}

.home-content .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.image {
  background-color: rgba(131, 144, 175, 0.2);
  border-radius: 0.6rem;
  height: 14rem;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.home-image {
  max-width: 93%;
  height: 93%;
  border-radius: 0.5rem;
}

.image .dots-svg {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
  fill: rgba(237, 161, 65, 0.348);
  stroke: rgba(237, 161, 65, 0.348);
}

.dots-svg path {
  fill: rgba(237, 161, 65, 0.348);
  stroke: rgba(237, 161, 65, 0.348);
}

.play-icon-wrapper {
  position: absolute;
  bottom: -1rem;
  left: -1.5rem;
  background-color: rgba(237, 161, 88, 0.2);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.play-container {
  width: 70%;
  height: 70%;
  background-color: rgba(237, 161, 88, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-play {
  color: #dba858;
  font-size: 1.4rem;
}

.years-of-experiance {
  position: absolute;
  bottom: -2.3rem;
  right: 0;
  z-index: 99;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.blur-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.years-of-experiance .icon-wrapper {
  width: 2rem;
  height: 1.7rem;
  margin-right: 0.4rem;
  background-color: rgba(245, 243, 243, 0.3);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.computer-icon {
  font-size: 1rem;
  color: #dba858;
}

.experiance-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experiance-text h5 {
  margin: 0;
  color: #c7bbbb;
  font-size: 0.7rem;
}

.years-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.years-wrapper h2 {
  color: #f5f3f3;
  margin: 0;
  margin-right: 0.2rem;
}

.years-wrapper span {
  color: #f5f3f3;
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  .home-page-container .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .text-content .intro {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 768px) {
  .home-page-container .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .text-content {
    margin-left: 4rem;
  }

  .intro {
    font-size: 2.8rem;
  }

  .home-content .image-container {
    margin-right: 4rem;
  }

  .image {
    margin: 0;
  }

  .years-of-experiance {
    right: -1rem;
  }

  .image .dots-svg {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    width: 6rem;
    height: 6rem;
  }

  .media-links {
    top: 20rem;
    right: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-page-container .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .text-content {
    margin-left: 8rem;
    padding-top: 7rem;
  }

  .intro {
    font-size: 4.5rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .home-content .image-container {
    margin-right: 8rem;
    padding-top: 3rem;
  }

  .image {
    margin: 0;
    margin-left: 1rem;
    height: 23rem;
    width: 29rem;
  }

  .years-of-experiance {
    right: -1rem;
  }

  .experiance-text h5 {
    font-size: 0.9rem;
  }

  .image .dots-svg {
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    width: 8rem;
    height: 8rem;
  }

  .play-icon-wrapper {
    width: 5rem;
    height: 5rem;
    left: -2rem;
    bottom: -2rem;
  }

  .home-page-container .media-links {
    top: 18rem;
    right: 1.5rem;
  }

  .media-links ul li {
    margin-bottom: 1.3rem;
  }

  .sidebar-link-icon {
    width: auto;
    font-size: 1.4rem;
  }
}
